
/*! pilotageBase */
/* Feuille de style de base disponibles uniquement dans la section "Pilotage" du site.
*/
/*====================================================================================================*/
/*  -01- Général                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -10- PIV entête
/* ---------------------------------------------------------------------------------------------------*/
/*  -19- Menu Pilotage
/* ---------------------------------------------------------------------------------------------------*/
/*  -60- Redéfinitions Bootstrap
/* ---------------------------------------------------------------------------------------------------*/
/*  -80- Tables
/* ---------------------------------------------------------------------------------------------------*/
/*  -99- À Positionner
/*====================================================================================================*/

/*====================================================================================================*/
/*  -10- PIV entête
/*====================================================================================================*/

    .titre-site .pilotage {
        text-transform: none;
        margin-left: 1rem;
    }

/*====================================================================================================*/
/*  -19- Menu Pilotage
/*====================================================================================================*/
.conteneur-principal-pilotage {
    display: flex;
}

.menu-pilotage {
    min-width: 220px;
    display: block;
    padding: 0;
    margin: 30px 10px 30px 0;
}


    .menu-pilotage > ul > li {
        border: 1px solid #ddd;
        margin-top: 10px;
        background-color: #fff;
    }

        .menu-pilotage > ul > li:first-child {
            margin-top: 0;
        }

    .menu-pilotage .nav-link.active {
        border: 1px solid #3E5062;
        border-right: 4px solid #3E5062;
    }

    .menu-pilotage a.nav-link:hover {
        background-color: #ecf2f7;
    }


    .menu-pilotage .sous-menu {
        background-color: #fff;
    }

        .menu-pilotage .sous-menu ul > li {
            border-top: 1px solid #ddd;
        }

            .menu-pilotage .sous-menu ul > li .nav-link {
                padding-left: 15px;
            }

        .menu-pilotage .sous-menu .nav-link:hover {
            /*background-color: #f2f1f1;*/
        }



    .menu-pilotage .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        min-height: 44px;
    }

    .menu-pilotage a.nav-link {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        color: inherit;
    }

/*====================================================================================================*/
/*  -60- Redéfinitions Bootstrap
/*====================================================================================================*/

.conteneur-principal-pilotage .form-group, .mb-24 {
    margin-bottom: 24px;
}

.conteneur-principal-pilotage label {
    font-family: OpenSans-SemiBold;
}

/*====================================================================================================*/
/*  -80- TABLES
/*====================================================================================================*/

.conteneur-principal-pilotage .table > thead th {
    font-family: OpenSans-SemiBold;
}

/*====================================================================================================*/
/*  -99- À Positionner
/*====================================================================================================*/
fieldset.avec-bordure {
    margin-bottom: 24px;
}
