
/*! siteBase */
/* Feuille de style de base disponibles dans toutes les pages du site.
*/
/*====================================================================================================*/
/*  -01- Général                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -03- Boutons                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -10- PIV entête
/* ---------------------------------------------------------------------------------------------------*/
/*  -11- PIV bas de page
/* ---------------------------------------------------------------------------------------------------*/
/*  -13- Retour haut de page
/* ---------------------------------------------------------------------------------------------------*/
/*  -15- Menu principal (desktop)
/* ---------------------------------------------------------------------------------------------------*/
/*  -16- Menu principal (mobile)
/* ---------------------------------------------------------------------------------------------------*/
/*  -20- Forms
/* ---------------------------------------------------------------------------------------------------*/
/*  -20A- Forms (Validations)
/* ---------------------------------------------------------------------------------------------------*/
/*  -50- ViewComponent Message
/* ---------------------------------------------------------------------------------------------------*/
/*  -60- Redéfinitions Bootstrap
/* ---------------------------------------------------------------------------------------------------*/
/*  -80- Tables
/* ---------------------------------------------------------------------------------------------------*/
/*  -85- Notifications
/* ---------------------------------------------------------------------------------------------------*/
/*  -89- Contenu extensible
/* ---------------------------------------------------------------------------------------------------*/
/*  -90- Divers
/* ---------------------------------------------------------------------------------------------------*/
/*  -92- CARDS "Section de base"
/* ---------------------------------------------------------------------------------------------------*/
/*  -99- À Positionner
/*====================================================================================================*/


/* On utilise volontairement uniquement le format WOFF afin d'éviter le chargement du WOFF2 qui se fait aussi dans Chrome pour une raison inconnue (on se retrouve donc à faire le double de requêtes HTTP)*/
/* open-sans-regular - latin */
@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin  non utilisé pour le moment */
/*@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ 
}*/

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*====================================================================================================*/
/*  -00- Variables
/*====================================================================================================*/
:root {
    /* Tailles calculées */
    --tc-8-4: 0.5rem; /*8px*/
    --tc-8-4-ecart: 4; /*min 4px max 8px*/
    --tc-8-4-ecart-px: calc(var(--tc-8-4-ecart) * 1px);
    --tc-14-12: 0.875rem; /*14px*/
    --tc-14-12-ecart: 2; /*min 12px max 14px*/
    --tc-14-12-ecart-px: calc(var(--tc-14-12-ecart) * 1px);
    --tc-16-4: 1rem; /*16px*/
    --tc-16-4-ecart: 12; /*min 4px max 16px*/
    --tc-16-4-ecart-px: calc(var(--tc-16-4-ecart) * 1px);
    --tc-16-8: 1rem; /*16px*/
    --tc-16-8-ecart: 8; /*min 8px max 16px*/
    --tc-16-8-ecart-px: calc(var(--tc-16-8-ecart) * 1px);
    --tc-18-14: 1.125rem; /*18px*/
    --tc-18-14-ecart: 4; /*min 14px max 18px*/
    --tc-18-14-ecart-px: calc(var(--tc-18-14-ecart) * 1px);
    --tc-18-16: 1.125rem; /*18px*/
    --tc-18-16-ecart: 2; /*min 16px max 18px*/
    --tc-18-16-ecart-px: calc(var(--tc-18-16-ecart) * 1px);
    --tc-24-12: 1.5rem; /*24px*/
    --tc-24-12-ecart: 12; /*min 12px max 24px*/
    --tc-24-12-ecart-px: calc(var(--tc-24-12-ecart) * 1px);
    --tc-24-16: 1.5rem; /*24px*/
    --tc-24-16-ecart: 8; /*min 16px max 24px*/
    --tc-24-16-ecart-px: calc(var(--tc-24-16-ecart) * 1px);
    --tc-32-16: 2rem; /*32px*/
    --tc-32-16-ecart: 16; /*min 16px max 32px*/
    --tc-32-16-ecart-px: calc(var(--tc-32-16-ecart) * 1px);
    --tc-32-24: 2rem; /*32px*/
    --tc-32-24-ecart: 8; /*min 24px max 32px*/
    --tc-32-24-ecart-px: calc(var(--tc-32-24-ecart) * 1px);
    --tc-48-40: 3rem; /*48px*/
    --tc-48-40-ecart: 8; /*min 40px max 48px*/
    --tc-48-40-ecart-px: calc(var(--tc-48-40-ecart) * 1px);
    --tc-80-72: 5rem; /*80px*/
    --tc-80-72-ecart: 8; /*min 72px max 80px*/
    --tc-80-72-ecart-px: calc(var(--tc-80-72-ecart) * 1px);
    --tc-8-4-val: var(--tc-8-4);
    --tc-14-12-val: var(--tc-14-12);
    --tc-16-4-val: var(--tc-16-4);
    --tc-16-8-val: var(--tc-16-8);
    --tc-18-14-val: var(--tc-18-14);
    --tc-18-16-val: var(--tc-18-16);
    --tc-24-12-val: var(--tc-24-12);
    --tc-24-16-val: var(--tc-24-16);
    --tc-32-16-val: var(--tc-32-16);
    --tc-32-24-val: var(--tc-32-24);
    --tc-48-40-val: var(--tc-48-40);
    --tc-80-72-val: var(--tc-80-72);
    /*Texte très petit sur mobile dans une section limitée à 714px (pages de texte ou colonne gauche quand 2 colonnes)*/
    --text-ligne-central-limite: 1.25rem; /*20*/
    --text-ligne-central-limite-ecart: 11; /*min 9px max 20px*/
    --text-ligne-central-limite-ecart-px: calc(var(--text-ligne-central-limite-ecart) * 1px);
    /*Autres grandeurs de textes */
    --text-xs: 0.8rem; /*12.8*/
    --text-sm: 0.875rem; /*14*/
    --text-base: 1rem; /*16*/
    --text-base-ecart: 2; /*min 14px max 16px*/
    --text-base-ecart-px: calc(var(--text-base-ecart) * 1px);
    --text-base-val: var(--text-base);
    --text-lg: 1.25rem;
    --text-lg-ecart: 2; /*min 18px max 20x*/
    --text-lg-ecart-px: calc(var(--text-lg-ecart) * 1px);
    --text-lg-val: var(--text-lg);
    --text-xl: 1.5rem;
    --text-xl-ecart: 3; /*min 21px max 24x*/
    --text-xl-ecart-px: calc(var(--text-xl-ecart) * 1px);
    --text-xl-val: var(--text-xl);
    --margin-x-xl: 2rem; /*32px*/
    --margin-x-xl-ecart: 16; /*min 16px max 32px*/
    --margin-x-xl-ecart-px: calc(var(--margin-x-xl-ecart) * 1px);
    --text-xxl: 1.75rem; /*28*/
    --text-xxl-ecart: 4; /*min 24px max 28px*/
    --text-xxl-ecart-px: calc(var(--text-xxl-ecart) * 1px);
    --text-xxl-val: var(--text-xxl);
    --text-xxxl: 2rem; /*H1 32px*/
    --text-xxxl-ecart: 4; /*min 28px max 32px*/
    --text-xxxl-ecart-px: calc(var(--text-xxxl-ecart) * 1px);
    --text-xxxl-val: var(--text-xxxl);
    --position-retour-haut-page: 30px;
    --position-retour-haut-page-ecart: 15; /*max 30px min 15px*/
    --position-retour-haut-page-ecart-px: calc(var(--position-retour-haut-page-ecart) * 1px);
    --ratio-vw: calc((100vw - 325px) / (1140 - 325));
    --ratio-vw-contenu-limite: calc((100vw - 325px) / (767 - 325));
    --ratio-vw-piv-signature: calc((100vw - 325px) / (568 - 325));
    --largeur-logo-piv-gouv-entete: 256px;
    --largeur-logo-piv-gouv-entete-ecart: 106;
    --largeur-logo-piv-gouv-entete-ecart-px: calc(var(--largeur-logo-piv-gouv-entete-ecart) * 1px);
    --hauteur-fixe-footer-desktop: 210px;
    --hauteur-fixe-footer-mobile: 270px;
    --couleur-fond-gris: #F2F1F1;
    --couleur-piv: #095797;
    --couleur-liens: #095797;
    --couleur-loader: #1073E6;
    --couleur-bouton-primaire: #095797;
    --couleur-bleu-pale: #DAE6F0; /*TODO modifier dans ECS*/
    --couleur-orange: #cf4b00;
    --couleur-saumon: #F09686;
    --couleur-primaire-entete-soulignee: var(--couleur-saumon);
    --couleur-secondaire-entete-soulignee: #96c4c3;
    /*  --couleur-alternative-entete-soulignee: #8a0000; */
    --couleur-texte-base: #223654;
    --couleur-erreur: #C20503;
    --couleur-succes: #2e7d32;
    --couleur-avertissement: #ffcc00;
    --couleur-entete-carte-primaire: #095797;
    --couleur-hover: #ecf2f7;
    --couleur-filet-secondaire: #c5cad2;
    --couleur-fond-fenetres-messages: #D9E6F0;
    --couleur-fond-message-information: #D9E6F0;
    --couleur-fond-message-bienvenue: #D9E6F0;
    --couleur-fond-message-avertissement: #F8E69A;
    --couleur-fond-message-nouveaute: #C0DC9F;
    --couleur-fond-message-erreur: #EDB9B0;
}

/*====================================================================================================*/
/*  -01- Général                                                                                  
/*====================================================================================================*/
html {
    font-size: 100%;
}

/* Pas de marge pour les h1 dans un conteneur-entete (un padding est géré via les espaceurs du conteneur) */
.conteneur-entete h1 {
    margin: 0;
}

.nom-service-entete{
    margin-bottom: 16px;
}

/* Bordure sous les H1 */
h1:not(.modal-title)::after, .entete-soulignee::after {
    content: "";
    display: block;
    margin: 0;
    width: 3rem;
    padding-top: 0.5rem;
    border-bottom: 4px solid;
    border-bottom-style: solid;
    border-bottom-color: var(--couleur-saumon);
}

/* Souligné d'entête H2 */
h2.entete-soulignee::after {
    border-bottom: 4px solid;
    border-bottom-color: var(--couleur-secondaire-entete-soulignee);
    width: 1.7rem;
}

h2 {
    margin-bottom: 0.7rem;
    font-size: 1.5rem; /* SCG spécifie 24px, et aucune resizing en mobile... Sera peut-être à revoir un jour. */
    font-family: Roboto-Bold;
}

h3 {
    font-size: 1.3125rem; /*21px*/
    font-family: Roboto-Medium;
}

h4 {
    font-size: 1.125rem; /*18px*/
    font-family: Roboto-Bold;
}

h5 {
    font-size: 1rem;
    font-family: Roboto-Bold;
}

h6 {
    font-size: 1rem;
    font-family: Roboto-Medium;
}


body {
    font-family: 'OpenSans-Regular', sans-serif;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.2;
    color: var(--couleur-texte-base);
}

/* Pas de margin sur un dernier paragraphe */
p:last-child {
    margin-bottom: 0!important;
}

.hauteur-libre {
    height: auto !important;
}

a.sans-underline:hover, a.sans-underline:focus {
    text-decoration: none;
}

a:hover .avec-underline, a:focus .avec-underline {
    text-decoration: underline;
}

.couleur-base {
    color: var(--couleur-texte-base);
}

.fond-blanc {
    background-color: #fff;
}

.fond-gris {
    background-color: var(--couleur-fond-gris);
}

.filet-principal-en-dessous::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--couleur-texte-base);
    padding-top: 0.5rem;
}

.separateur {
    height: 1px;
    width: 100%;
}

    .separateur.secondaire {
        background-color: var(--couleur-filet-secondaire);
        margin: 24px 0;
    }

/*====================================================================================================*/
/*  -01B- Tailles adaptatives                                                                                  
/*====================================================================================================*/
.text-base-fixe {
    font-size: var(--text-base);
}

.text-sm, small {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}


@media screen and (max-width: 324px) {
    :root {
        --tc-8-4-val: calc(var(--tc-8-4) - var(--tc-8-4-ecart-px));
        --tc-14-12-val: calc(var(--tc-14-12) - var(--tc-14-12-ecart-px));
        --tc-16-4-val: calc(var(--tc-16-4) - var(--tc-16-4-ecart-px));
        --tc-16-8-val: calc(var(--tc-16-8) - var(--tc-16-8-ecart-px));
        --tc-18-14-val: calc(var(--tc-18-14) - var(--tc-18-14-ecart-px));
        --tc-18-16-val: calc(var(--tc-18-16) - var(--tc-18-16-ecart-px));
        --tc-24-12-val: calc(var(--tc-24-12) - var(--tc-24-12-ecart-px));
        --tc-24-16-val: calc(var(--tc-24-16) - var(--tc-24-16-ecart-px));
        --tc-32-16-val: calc(var(--tc-32-16) - var(--tc-32-16-ecart-px));
        --tc-32-24-val: calc(var(--tc-32-24) - var(--tc-32-24-ecart-px));
        --tc-48-40-val: calc(var(--tc-48-40) - var(--tc-48-40-ecart-px));
        --tc-80-72-val: calc(var(--tc-80-72) - var(--tc-80-72-ecart-px));
        --text-base-val: calc(var(--text-base) - var(--text-base-ecart-px));
        --text-lg-val: calc(var(--text-lg) - var(--text-lg-ecart-px));
        --text-xl-val: calc(var(--text-xl) - var(--text-xl-ecart-px));
        --text-xxl-val: calc(var(--text-xxl) - var(--text-xxl-ecart-px));
        --text-xxxl-val: calc(var(--text-xxxl) - var(--text-xxxl-ecart-px));
    }

    
    #flecheHaut {
        right: calc(var(--position-retour-haut-page) - var(--position-retour-haut-page-ecart-px)) !important;
    }
}

@media all and (max-width: 324px) {
    .text-ligne-central-limite {
        font-size: calc(var(--text-ligne-central-limite) - var(--text-ligne-central-limite-ecart-px)) !important;
        font-family: InconsolataCondensed-Regular;
    }
}


@media all and (min-width: 325px) and (max-width: 767px) {
    .text-ligne-central-limite {
        font-size: calc(var(--text-ligne-central-limite) + (var(--ratio-vw-contenu-limite) * var(--text-ligne-central-limite-ecart)) - var(--text-ligne-central-limite-ecart-px)) !important;
        font-family: InconsolataCondensed-Regular;
    }
}

@media all and (min-width: 768px) {
    .text-ligne-central-limite {
        font-family: Inconsolata-Regular;
        font-size: 16px !important;
    }
}


@media all and (min-width: 325px) and (max-width: 1139px) {

    :root {
        --tc-8-4-val: calc(var(--tc-8-4) + (var(--ratio-vw) * var(--tc-8-4-ecart)) - var(--tc-8-4-ecart-px));
        --tc-14-12-val: calc(var(--tc-14-12) + (var(--ratio-vw) * var(--tc-14-12-ecart)) - var(--tc-14-12-ecart-px));
        --tc-16-4-val: calc(var(--tc-16-4) + (var(--ratio-vw) * var(--tc-16-4-ecart)) - var(--tc-16-4-ecart-px));
        --tc-16-8-val: calc(var(--tc-16-8) + (var(--ratio-vw) * var(--tc-16-8-ecart)) - var(--tc-16-8-ecart-px));
        --tc-18-14-val: calc(var(--tc-18-14) + (var(--ratio-vw) * var(--tc-18-14-ecart)) - var(--tc-18-14-ecart-px));
        --tc-18-16-val: calc(var(--tc-18-16) + (var(--ratio-vw) * var(--tc-18-16-ecart)) - var(--tc-18-16-ecart-px));
        --tc-24-12-val: calc(var(--tc-24-12) + (var(--ratio-vw) * var(--tc-24-12-ecart)) - var(--tc-24-12-ecart-px));
        --tc-24-16-val: calc(var(--tc-24-16) + (var(--ratio-vw) * var(--tc-24-16-ecart)) - var(--tc-24-16-ecart-px));
        --tc-32-16-val: calc(var(--tc-32-16) + (var(--ratio-vw) * var(--tc-32-16-ecart)) - var(--tc-32-16-ecart-px));
        --tc-32-24-val: calc(var(--tc-32-24) + (var(--ratio-vw) * var(--tc-32-24-ecart)) - var(--tc-32-24-ecart-px));
        --tc-48-40-val: calc(var(--tc-48-40) + (var(--ratio-vw) * var(--tc-48-40-ecart)) - var(--tc-48-40-ecart-px));
        --tc-80-72-val: calc(var(--tc-80-72) + (var(--ratio-vw) * var(--tc-80-72-ecart)) - var(--tc-80-72-ecart-px));
        --text-base-val: calc(var(--text-base) + (var(--ratio-vw) * var(--text-base-ecart)) - var(--text-base-ecart-px));
        --text-lg-val: calc(var(--text-lg) + (var(--ratio-vw) * var(--text-lg-ecart)) - var(--text-lg-ecart-px));
        --text-xl-val: calc(var(--text-xl) + (var(--ratio-vw) * var(--text-xl-ecart)) - var(--text-xl-ecart-px));
        --text-xxl-val: calc(var(--text-xxl) + (var(--ratio-vw) * var(--text-xxl-ecart)) - var(--text-xxl-ecart-px));
        --text-xxxl-val: calc(var(--text-xxxl) + (var(--ratio-vw) * var(--text-xxxl-ecart)) - var(--text-xxxl-ecart-px));
    }

    #flecheHaut {
        right: calc(var(--position-retour-haut-page) + (var(--ratio-vw) * var(--position-retour-haut-page-ecart)) - var(--position-retour-haut-page-ecart-px)) !important;
    }
}


@media screen and (min-width: 1140px) {

    #flecheHaut {
        right: var(--position-retour-haut-page);
    }
}


h1, .text-xxxl {
    font-size: var(--text-xxxl-val);
}

.text-xxl, .tuile-resume .card-title .titre {
    font-size: var(--text-xxl-val);
}

.text-xl, .card.section-base > .card-title {
    font-size: var(--text-xl-val);
}

.text-lg{
    font-size: var(--text-lg-val);
}

.text-base {
    font-size: var(--text-base-val) !important;
}

.espaceur-conteneurs {
    height: var(--tc-48-40-val);
}


/*====================================================================================================*/
/*  -02- Layouts
/*====================================================================================================*/

/* Masquer les espaceurs sans contenu (particularité pour espaceurs si h1 hors écran, le 1er espaceur de la zone est affiché et le second est masqué) */
.container .espaceur-conteneurs:first-child:nth-last-child(2),
.container .espaceur-conteneurs:last-child:nth-child(2), .conteneur-entete.h1-hors-ecran .espaceur-conteneurs:last-child:nth-child(3) {
    display: none;
}


/* Le dernier espaceur de conteneurs doit avoir une marge plus grande car c'est lui qui permet une marge avec le footer en conservant la bonne couleur de fond.*/
.container .espaceur-conteneurs.dernier-visible {
    height: var(--tc-80-72-val);
}
/* ---- Layout 2 colonnes ---- */
#conteneur2Colonnes {
    display: flex;
}

/* Colonne principale */
.contenu-principal-gauche #colonneGauche, .contenu-principal-droite #colonneDroite, .page-texte {
    width: 100%;
    max-width: 714px;
}

/* Colonne secondaire */
.contenu-principal-gauche #colonneDroite, .contenu-principal-droite #colonneGauche {
    width: 100%;
    max-width: 396px;
}

.contenu-principal-gauche #colonneGauche > *, .contenu-principal-gauche #colonneDroite > *,
.contenu-principal-droite #colonneGauche > *, .contenu-principal-droite #colonneDroite > * {
    margin-top: var(--tc-48-40-val);
}

.contenu-principal-gauche #colonneGauche > *:first-child, .contenu-principal-gauche #colonneDroite > *:first-child,
.contenu-principal-droite #colonneGauche > *:first-child, .contenu-principal-droite #colonneDroite > *:first-child {
    margin-top: 0;
}


/* Limiter la largeur de la colonne principale en mode mobile */
/* TODO ECS 1023-1024 passe à 991-992 */
@media all and (max-width:991px) {
    #conteneur2Colonnes {
        display: block;
    }

    .contenu-principal-droite #colonneGauche, .contenu-principal-gauche #colonneDroite {
        max-width: 714px;
    }

    .contenu-principal-gauche #colonneDroite > *:first-child, .contenu-principal-droite #colonneDroite > *:first-child {
        margin-top: var(--tc-48-40-val);
    }
}

/* Petite twist... Permet d'avoir une marge à gauche(ou à droite) afin de séparer les 2 colonnes, sera actif uniquement si la colonne de gauche (ou de droite) contient au moins un élément */
/* TODO ECS 1023-1024 passe à 991-992 */
@media screen and (min-width:992px) {
    .contenu-principal-gauche #colonneDroite > * {
        margin-left: var(--tc-32-24-val);
    }

    .contenu-principal-droite #colonneGauche > * {
        margin-right: var(--tc-32-24-val);
    }
}

/*====================================================================================================*/
/*  -03- Boutons
/*====================================================================================================*/
/* Boutons ECS */
.btn-defaut {
    background-color: #eee;
    border: 1px solid #bdbdbd;
}

.btn.btn-primaire {
    background-color: var(--couleur-bouton-primaire);
    color: #fff;
    font-family: 'OpenSans-Bold', sans-serif;
    box-shadow: 0.1rem 0.1rem 7px #c4c8ce;
    border: 3px solid var(--couleur-bouton-primaire);
}

    .btn.btn-primaire[disabled] {
        box-shadow: none;
    }

    .btn.btn-primaire:not([disabled]):focus, .btn.btn-primaire:not([disabled]):hover {
        background-color: #156bb2;
        border: 3px solid #156bb2;
        box-shadow: 0.1rem 0.1rem 7px #c4c8ce !important;
        text-decoration: underline;
    }

    .btn.btn-primaire:not([disabled]):focus, .btn.btn-secondaire:not([disabled]):focus {
        border: 3px solid var(--couleur-texte-base);
    }

.btn.btn-secondaire {
    background-color: #fff;
    border: 2px solid var(--couleur-bouton-primaire);
    color: var(--couleur-bouton-primaire);
    font-family: 'OpenSans-Bold', sans-serif;
    box-shadow: none;
}

    .btn.btn-secondaire:hover, .btn.btn-secondaire:focus {
        text-decoration: underline !important;
    }

    .btn-defaut:disabled:hover, .btn.btn-primaire:disabled:hover, .btn.btn-secondaire:disabled:hover {
        cursor: not-allowed;
    }

.close.btnxfermer {
    min-height: 0;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity:1;
}

/*====================================================================================================*/
/*  -10- PIV entête
/*====================================================================================================*/
.piv {
    background-color: var(--couleur-piv);
    color: #fff;
}

    .piv a {
        color: #fff;
    }

    .piv a:hover, .piv a:focus {
        color: #fff;
    }

@media screen and (max-width:324px) {
    .piv-entete .signature-gouvernement {
        min-width: calc(var(--largeur-logo-piv-gouv-entete) - var(--largeur-logo-piv-gouv-entete-ecart-px));
        width: calc(var(--largeur-logo-piv-gouv-entete) - var(--largeur-logo-piv-gouv-entete-ecart-px));
    }
}

@media screen and (min-width:325px) and (max-width:567px) {
    .piv-entete .signature-gouvernement {
        width: calc(var(--largeur-logo-piv-gouv-entete) + (var(--ratio-vw) * var(--largeur-logo-piv-gouv-entete-ecart)) - var(--largeur-logo-piv-gouv-entete-ecart-px));
    }
}

@media screen and (min-width:568px) {
    .piv-entete .signature-gouvernement {
        min-width: var(--largeur-logo-piv-gouv-entete);
    }
}



.piv-entete .signature-gouvernement img, .piv .section-centre {
    width: 100%;
}

.piv .section-droite {
    margin-left: 30px;
    min-width: 100px;
}

    .piv .section-droite ul {
        list-style: none;
        padding: 0 0 0 0.5rem;
        margin: 0;
        height: 100%;
    }

        .piv .section-droite ul a:link {
            font-weight: normal;
            text-decoration: none;
            font-size: 0.875rem;
            -webkit-font-smoothing: antialiased;
        }

        .piv .section-droite ul a:hover,
        .piv .section-droite ul a:focus {
            text-decoration: underline;
        }

        .piv .section-droite ul li:first-child {
            padding-bottom: 0.7rem;
        }

#pivLogoGouvernementPrint {
    display: none;
}

a.passer-contenu {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

    a.passer-contenu:focus {
        width: inherit;
        height: inherit;
        overflow: inherit;
        clip: inherit;
        white-space: inherit;
        border: inherit;
        color: #fff;
        padding: 0.3rem;
        border: 1px solid #fff;
    }

.titre-site {
    font-family: Roboto-Medium;
    font-size: 18px;
    /*margin-top: 3px;  Pas dans charte graphique... permet d'aligner parfaitement avec drapeau*/
}

    .titre-site .description {
        font-size: 16px;
    }

.conteneur-menu-identification {
    background-color: var(--couleur-texte-base);
    color: #fff;
    min-height: 94px;
}

.zone-menu-identification {
    justify-content: flex-end !important;
}

@media (min-width: 768px) {
    .conteneur-menu-identification {
        min-height: 0;
    }

    .zone-menu-identification {
        min-height: 80px;
        justify-content: space-between !important;
    }
}


.zone-identification {
    word-break: break-word;
}

    .zone-identification .lien-icone {
        height: 100%;
        padding: 20px 8px;
    }

        .zone-identification .lien-icone:hover, .zone-identification .lien-icone:focus {
            background-color: #132341;
            text-decoration: none;
            color: #fff;
        }

.lien-profil-utilisateur {
    margin-left: var(--tc-16-8-val);
}

.zone-identification a {
    color: #fff;
}


.zone-identification .nom-utilisateur {
    font-size: var(--tc-14-12-val);
}

.zone-identification .icone-svg.profil {
    margin-right: var(--tc-8-4-val);
    min-width: 22px;
}

.btn.btn-fermer-session {
    margin-left: 8px;
    color: #fff;
    font-size: 0.875rem;
    font-family: 'OpenSans-Bold', sans-serif;
    padding: 8px;
}

.btn-fermer-session:hover, .btn-fermer-session:focus {
    background-color: #031634;
    text-decoration: none;
    color: #fff;
}

/*====================================================================================================*/
/*  -11- PIV bas de page
/*====================================================================================================*/
.piv-bas-page .liens a {
    font-size: 14px;
    text-decoration: none;
}

.piv-bas-page .liens ul {
    padding: 16px;
    background-color: var(--couleur-texte-base);
}

.piv-bas-page a:hover, .piv-bas-page a:focus {
    text-decoration: underline;
}

.piv-bas-page .liens a {
    color: #fff;
}

.piv-bas-page .liens .youtube{
    margin-top: -5px; /*TODO faire mieux... rush pour démo */
}

.piv-bas-page .liens a:hover, .piv-bas-page .liens a:focus {
    color: #fff;
}

.piv-bas-page ul {
    margin-bottom: 0;
}

.piv-bas-page ul li {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
}

.piv-bas-page .media-sociaux {
    background-color: var(--couleur-texte-base);
    color: #fff;

}

.piv-bas-page .media-sociaux ul li {
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
}
/* TODO Améliorer tout ce qui est média sociaux. Rush démo. */
@media (max-width: 425px) {
    .piv-bas-page .media-sociaux ul li {
        padding: 4px 6px;
    }
}

.piv-bas-page .media-sociaux h3{
    padding-left: 16px;
    font-size: 14px;
    font-family: OpenSans-Regular;
    color: #fff;
}
/* ---- Sticky footer (bas de page) ----*/
html {
    position: relative;
    min-height: 100vh;
}

/* Il faut soustraire la hauteur du footer afin qu'il reste en bas de page */
.conteneur-principal {
    min-height: calc(100vh - var(--hauteur-fixe-footer-desktop));
}

.footer {
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    /* Hauteur fixe du footer  */
    height: var(--hauteur-fixe-footer-desktop);
}

@media (max-width: 425px) {

    /* Il faut soustraire la hauteur du footer afin qu'il reste en bas de page */
    .conteneur-principal {
        min-height: calc(100vh - var(--hauteur-fixe-footer-mobile));
    }

    .footer {
        /* Hauteur fixe du footer  */
        height: var(--hauteur-fixe-footer-mobile);
    }
}

.infos-developpeurs {
    background-color: inherit;
    font-size: 0.8rem;
    margin: 30px 0;
    white-space: normal;
    word-break: break-all;
}

/*====================================================================================================*/
/*  -13- Retour haut de page
/*====================================================================================================*/

#flecheHaut {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    -moz-box-shadow: 0 3px 10px 0 rgba(34, 54, 84, 0.45);
    -webkit-box-shadow: 0 3px 10px 0 rgba(34, 54, 84, 0.45);
    box-shadow: 0 3px 10px 0 rgba(34, 54, 84, 0.45);
    background-color: var(--couleur-piv);
    color: #fff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
}

    #flecheHaut .contenu {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center !important;
        align-items: center !important;
    }

    #flecheHaut:hover, #flecheHaut:focus {
        opacity: 0.75;
    }

/*====================================================================================================*/
/*  -15- Menu principal (desktop)
/*====================================================================================================*/

.menu-principal .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-family: OpenSans-Regular, sans-serif;
    font-size: var(--tc-18-16-val);
    border-bottom: 4px solid var(--couleur-texte-base);
    padding: 8px 8px 4px 8px;
}

.menu-principal .navbar-nav .nav-item {
    margin-right: 32px;
}

    .menu-principal .navbar-nav .nav-item:last-of-type {
        margin-right: 0;
    }



.menu-principal .nav-link:hover,
.menu-principal .nav-link:focus {
    border-bottom: 4px solid #909aa9;
}

.menu-principal .nav-link.active {
    border-bottom: 4px solid #909aa9 !important;
    font-family: OpenSans-Bold, sans-serif;
}

.menu-principal.navbar {
    padding: 0;
}

/*====================================================================================================*/
/*  -16- Menu principal (mobile) (classe zone-menu-principal)
/*====================================================================================================*/
.zone-menu-principal .menu-principal .navbar-nav .nav-link {
    padding-top: 8px;
}

/*====================================================================================================*/
/*  -20- Forms
/*====================================================================================================*/
form h2 {
    margin-bottom: 1rem;
}

form h4:first-of-type {
    margin-top: 0;
}

/* Spinner affiché sur le contrôle à l'origine de la soumission d'un formulaire */
button .spinner, input[type="submit"] .spinner {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 0;
}
button .spinner .path, input[type="submit"] .spinner .path {
    stroke-width: 4px;
}
.btn-primaire .spinner .path {
    stroke: #fff;
}

/* Largeur automatique des champs select, number  et de type date */
select.form-control, input[type="number"].form-control, input[type="date"].form-control, input[type="datetime-local"].form-control, input[type="time"].form-control {
    width: auto;
    max-width: 100%;
}
/* Largeur automatique des champs select */
select.custom-select {
    width: auto;
    max-width: 100%;
    display: block;
}

.zone-boutons {
    margin-top: 32px;
}

/*====================================================================================================*/
/*  -20A- Forms (Validations)
/*====================================================================================================*/

/* Masquer le sommaire des erreurs lorsque valide, car sinon ajoute espace vide (hauteur) dans les forms même si height 0, pas de padding ni margin, etc.. */
form .validation-summary-valid {
    display: none;
}

/* Sommaire des erreurs */
form .validation-summary-errors {
    margin-bottom: 2rem;
}

.page-texte .validation-summary-errors h2 {
    margin-top: 0;
}

form .validation-summary-errors:focus {
    outline-color: var(--couleur-erreur);
}

form .validation-summary-errors a {
    color: var(--couleur-erreur);
    text-decoration: underline;
}

    form .validation-summary-errors a:hover, form .validation-summary-errors a:focus {
        text-decoration: none;
    }

form .validation-summary-errors ul {
    color: var(--couleur-erreur);
    margin-top: 16px;
}

/* Bordure des champs en erreur. Inclus les champs particuliers summernote (.note-editor)*/
form .input-validation-error, form .input-validation-error + .note-editor {
    border-color: var(--couleur-erreur);
    border-width: 2px;
}

form .field-validation-error {
    display: inline-block;
    margin-top: 8px;
}

/* Indicateurs champs obligatoires */
.icone-champ-requis {
    font-size: 1rem;
    vertical-align: top;
    font-family: OpenSans-SemiBold;
}

.texte-explicatif-champs-obligatoires {
    margin-bottom: 32px;
    font-size: 0.875rem;
}

    .texte-explicatif-champs-obligatoires > span {
        margin-left: 4px;
    }

.icone-champ-requis {
    color: var(--couleur-erreur);
}

/* Info attendue */
.info-attendue {
    font-size: 0.75rem;
    margin-left: 4px;
    font-family: OpenSans-Regular;
}

.overlay-soumission-form {
    background-color: #000;
    opacity: 0.2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99998;
}

/*====================================================================================================*/
/*  -30- Icônes SVG
/*====================================================================================================*/
/* Icônes svg */
.icone-svg, .note-editable a[target="_blank"]:after, a.lien-externe[target="_blank"]:after, span.lien-externe:after {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
}

/* Taille par défaut des icônes svg */
.icone-svg {
    background-size: 100% auto;
    min-width: 32px;
    height: 32px;
}

/* Icône pour ouverture lien dans nouvelle fenêtre */
.note-editable a[target="_blank"]:after, a.lien-externe[target="_blank"]:after, span.lien-externe:after {
    margin-left: 4px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
}

/* Icônes svg small (sm) */
.icone-svg.sm {
    min-width: 12px;
    height: 12px;
}

/* Icônes svg medium (md) */
.icone-svg.md {
    min-width: 20px;
    height: 20px;
}

/* Icônes svg large (large) */
.icone-svg.lg {
    min-width: 40px;
    height: 40px;
}

.averti .icone-svg, .icone-svg.averti {
    height: 28px;
}

.averti .icone-svg.sm, .icone-svg.averti.sm {
    height: 11px;
}

.averti .icone-svg.md, .icone-svg.averti.md {
    height: 18px;
}

.averti .icone-svg.lg, .icone-svg.averti.lg {
    height: 35px;
}

.icone-svg.fleche-droite {
    width: 10px;
    height: 10px;
    min-width: 10px;
}

.icone-svg.x-fermer-bleu {
    width: 16px;
    height: 16px;
    min-width: 16px;
}

.icone-svg.x-fermer-bleu-foncee {
    width: 16px;
    height: 16px;
    min-width: 16px;
}

.icone-svg.profil {
    height: 22px;
}

a .icone-svg.telechargement {
    margin-left: 4px;
    margin-top: -2px;
    min-width: 14px;
    height: 14px;
    background-size: 14px 14px;
}

/* Icônes de médias sociaux */
.media-sociaux .icone-svg{
    min-width: inherit;
    display: block;
}

.media-sociaux .icone-svg.ico-facebook {
    width: 27px;
    height: 27px;
}

.media-sociaux .icone-svg.ico-twitter {
    width: 27px;
    height: 27px;
}

.media-sociaux .icone-svg.ico-youtube {
    width: 34px;
    height: 30px;
}
.media-sociaux .icone-svg.ico-linkedin {
    width: 32px;
    height: 27px;
}

/*====================================================================================================*/
/*  -50- ViewComponent Message (TODO analyser si commun ou pas)
/*====================================================================================================*/
.messages-generaux {
    margin-top: var(--tc-48-40-val);
}

.conteneur-entete.h1-non-rendu .messages-generaux, .conteneur-entete.h1-hors-ecran .messages-generaux {
    margin-top: 0;
}

.messages-generaux .message:not(:last-of-type) {
    margin-bottom: 32px;
}

.message {
    display: flex;
    border: 1px solid var(--couleur-filet-secondaire);
    background-color: #fff;
}

    .message .entete {
        padding: var(--tc-24-16-val) var(--tc-16-4-val);
    }

    .message .zone-html {
        padding: var(--tc-24-16-val) var(--tc-32-16-val);
        width: 100%;
    }

    .message.inform .entete {
        background-color: var(--couleur-fond-message-information);
    }

    .message.bienve .entete {
        background-color: var(--couleur-fond-message-bienvenue);
    }

    .message.averti .entete {
        background-color: var(--couleur-fond-message-avertissement);
    }

    .message.nouvea .entete {
        background-color: var(--couleur-fond-message-nouveaute);
    }

    .message.erreur .entete {
        background-color: var(--couleur-fond-message-erreur);
    }

    .message .titre {
        padding: 0;
        line-height: inherit;
        font-family: OpenSans-Bold;
        margin-bottom: 4px;
    }

    .message .contenu p {
        margin-bottom: 8px;
    }

    .message .contenu :last-child {
        margin-bottom: 0;
    }
/*====================================================================================================*/
/*  -52- ViewComponent TraitementEnCours
/*====================================================================================================*/
.traitement-en-cours {
    position: relative;
    margin: 16px 0;
}

.traitement-en-cours:focus{
    outline: none;
}

    .spinner {
        animation: rotate 1.5s linear infinite;
        z-index: 2;
        position: relative;
        width: 48px;
        height: 48px;
        margin: 16px 0;
    }
    .spinner .path {
        stroke: var(--couleur-loader);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
        stroke-width: 4px;
    }


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 115, 150;
    }

    50% {
        stroke-dasharray: 80,150;
    }

    100% {
        stroke-dasharray: 115, 150;
    }
}

    .traitement-en-cours.blanc .spinner .path {
        stroke: #fff;
    }

    .traitement-en-cours.xs .spinner {
        width: 12px;
        height: 12px;
    }

    .traitement-en-cours.xs .spinner .path {
        stroke-width: 2px;
    }

    .traitement-en-cours.sm .spinner {
        width: 24px;
        height: 24px;
    }

    .traitement-en-cours.sm .spinner .path {
        stroke-width: 3px;
    }

    .traitement-en-cours.lg .spinner {
        width: 72px;
        height: 72px;
    }

    .traitement-en-cours.lg .spinner .path {
        stroke-width: 5px;
    }

    .traitement-en-cours.xl.spinner {
        width: 96px;
        height: 96px;
    }

    .traitement-en-cours.xl .spinner .path {
        stroke-width: 6px;
    }


    .traitement-en-cours.avec-overlay {
        position: absolute;
        z-index: 2;
        opacity: 0;
        background: rgba(255, 255, 255, 1);
        transition: opacity 200ms ease-in-out;
    }
    /*====================================================================================================*/
    /*  -60- Redéfinitions Bootstrap
/*====================================================================================================*/
    @media (max-width: 425px) {
        .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    color: var(--couleur-texte-base);
}


h1 {
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 2rem;
}

h1 img {
    margin-right: 5px;
}

h2 {
    font-family: 'Roboto-Medium', sans-serif;
}

figure {
    margin: 0 0 0.5rem;
}

    figure.image img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

/* Redéfinition row et cols afin de s'arrimer à la grille de 8px du SCG */
.row {
    margin-left: -16px;
    margin-right: -16px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 16px;
    padding-right: 16px;
}

a {
    color: var(--couleur-liens);
    text-decoration: none;
}

    a:hover, a:focus {
        text-decoration: underline;
        color: #3374cc;
    }

.card.shadow-sm {
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.15) !important;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 24px 16px;
}

.btn, .card, .form-control, .custom-select, .select2-container--bootstrap4 .select2-selection {
    border-radius: 0; /* pas de bouton, de champs et de cards avec coins arrondis dans ECS... */
}

.btn {
    line-height: 1rem;
}

/* Liens affichés comme boutons */
a.btn {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

    /* Boutons */
    button:not(.btn-sm), input.btn:not(.btn-sm), a.btn:not(.btn-sm) {
        min-height: 44px;
        min-width: 44px;
        padding-top: 0;
        padding-bottom: 0;
    }

button.btn-link {
    min-height: 0;
    min-width: 0;
}

.radio-bouton-avec-padding-top {
    padding-top: 20px;
}

.form-group, .mb-32 {
    margin-bottom: 32px;
}

.mt-32{
    margin-top: 32px;
}

/* TODO ICI s'entendre avec MCE pour graisse des libellés... Nous on préfère semiBold */
label {
    font-family: OpenSans-SemiBold;
}

label, .libelle-groupe-radio {
    margin-bottom: .2rem;
}

.precision {
    display: block;
    margin-bottom: 4px;
    font-size: 0.875rem;
}

/* Font normal pour libellés qui sont à l'intérieur d'un groupe de radio boutons */
.groupe-radio label {
    font-family: inherit;
}

/* Bordure de contrôles */
.form-control, .select2-container--bootstrap4 .select2-selection {
    border: 1px solid #858b93;
}

.text-danger {
    color: var(--couleur-erreur) !important;
}

/* Coins carré pour les modals */
.modal-content {
    border-radius: 0;
}

/*X du bouton fermer modal plus gros*/
.modal-header .close {
    font-size: 2.5rem;
    padding: 0.5rem 1rem;
}

/* Contrôle switch large (N'existe pas dans BS) */

.custom-switch.lg {
    padding-left: 4rem;
    margin-top: 24px;
}


.custom-switch.lg .custom-control-label::before {
    cursor: pointer;
    left: -4rem;
    width: 56px;
    height: 32px;
    border-radius: 1rem;
    top: calc(50% - 17px);
}

    .custom-switch.lg .custom-control-label::after {
        cursor: pointer;
        top: calc(50% - 16px);
        left: calc(-4rem + 2px);
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 100%;
        border: 1px solid rgba(34, 54, 84, 0.5);
        box-shadow: 0 1px 3px 0 rgba(34, 54, 84, 0.12)
    }

.custom-control.custom-switch .custom-control-input ~ .custom-control-label::before {
    border-color: #c5cad2;
    background-color: #c5cad2;
}

.custom-control .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #1479cc;
    background-color: #1479cc;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.4rem);
    -webkit-transform: translateX(1.4rem)
}

/* Contrôles checkbox et radio large (N'existe pas dans BS) */
.custom-checkbox.lg, .custom-radio.lg {
    padding-left: 1.75rem;
}

    .custom-checkbox.lg .custom-control-label::before, .custom-radio.lg .custom-control-label::before {
        width: 1.25rem;
        height: 1.25rem;
        left: -1.75rem;
        top: -0.1rem;
    }

    .custom-checkbox.lg .custom-control-label::after, .custom-radio.lg .custom-control-label::after {
        top: -0.1rem;
        left: -1.75rem;
        width: 1.25rem;
        height: 1.25rem;
    }

/*====================================================================================================*/
/*  -80- TABLES
/*====================================================================================================*/

table.table-hover > tbody > tr:hover,
table.table-hover > tbody tr:focus-within {
    background-color: #ecf2f7 !important;
    color: inherit;
}


table.row-clickable > tbody > tr {
    cursor: pointer;
}

.table thead th, .table tbody td {
    vertical-align: middle;
}

.table {
    margin-bottom: 0;
    background-color: #fff;
}

    .table > thead {
        background-color: var(--couleur-texte-base);
        color: white;
        border: 1px solid var(--couleur-texte-base);
    }

        .table > thead th {
            font-family: OpenSans-Bold;
            font-size: 18px;
        }

.table th, .table td {
    vertical-align: middle;
    height: 44px; /* Hauteur minimale des cellules */
}

.table-sm td, .table-sm th {
    padding: .5rem;
    height: 28px; /* Va donner 44px incluant padding */
}

.table-bordered th:first-child {
    border-left: 1px solid #4c4c4c;
}

.table-bordered th:last-child {
    border-right: 1px solid #4c4c4c;
}

.table > tbody, .table > tfoot {
    border: 1px solid #dee2e6;
}


/*====================================================================================================*/
/*  -85- Notifications
/*====================================================================================================*/

/* Redéfinition de css Bootsrap en lien avec les toasts (nos toast, i.e. ceux avec la classe 'notifications' */

.notifications {
    opacity: .95 !important;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1111;
}

@media (max-width: 320px) {
    .toast {
        max-width: 290px;
    }
}


.notifications .bg-success {
    background-color: var(--couleur-succes) !important;
}

.notifications .bg-danger {
    background-color: var(--couleur-erreur) !important;
}


.notifications .toast {
    font-size: inherit;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0;
}


    .notifications .toast.fade, .notifications .toast.fade.show {
        opacity: 0;
    }

        .notifications .toast.fade.show.visible {
            opacity: 1;
            -webkit-transition: opacity 0.5s linear;
            -moz-transition: opacity 0.5s linear;
            -ms-transition: opacity 0.5s linear;
            -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
        }

.notifications .toast-header {
    color: #fff;
    background-color: inherit;
    padding: 0;
    margin-bottom: 1rem;
    border-bottom: 0;
    margin-right: 44px;
    font-family: OpenSans-Bold;
}

    .notifications .toast-header .icone-svg {
        filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(29%) hue-rotate(42deg) brightness(108%) contrast(107%);
        background-size: 32px 32px;
        width: 35px;
        height: 32px;
    }

    .notifications .toast-header .close {
        color: #fff;
        opacity: 1;
        position: absolute;
        right: 0;
        font-family: OpenSans;
        font-size: 2rem;
    }

        .notifications .toast-header .close:hover, .notifications .toast-header .close:focus {
            opacity: .9;
        }

.notifications .toast-body {
    padding: 0;
    color: #fff;
}

/*====================================================================================================*/
/*  -86- Fenêtres de message
/*====================================================================================================*/

/* Désactiver le scroll du body quand une fenêtre de message est ouverte (a été combiné avec du javacript pour empêcher le scroll top à la fermture du modal. Voir xxx */
.modal-open {
    width: 100%;
}

.modal-open footer .infos-developpeurs {
    display: none;
}


/* Redéfinition de css Bootsrap en lien avec les modals (nos modals, i.e. ceux avec la classe 'fenetre-message' */
.fenetre-message.modal h1 {
    font-size: var(--text-xxl-val);
}

.fenetre-message.modal h2 {
    font-size: 21px;
}

.fenetre-message.modal h3 {
    font-size: 18px;
}

.fenetre-message.modal h4 {
    font-size: 16px;
}

.fenetre-message.modal[role="alertdialog"]{
    z-index: 99999; /* Max pour passer par dessus overlay soumission qui est à 99998 */
}

.fenetre-message.modal[role="alertdialog"] h1 {
    margin-top: 0;
    font-size: 20px;
}

.fenetre-message.modal .modal-content {
    padding: var(--tc-32-24-val) var(--tc-32-16-val);
}

.fenetre-message.modal .modal-header {
    border: 0;
    padding: 0;
}

.fenetre-message.modal .modal-title {
    line-height: 1;
}

.fenetre-message.modal .modal-body {
    padding: 0;
    margin-top: 2rem;
}

.fenetre-message.modal .modal-footer {
    padding: 0;
    margin-top: 2rem;
    border-top: 0;
}

/*====================================================================================================*/
/*  -89- Contenu extensible
/*====================================================================================================*/
/*---- Liens plus ou moins de détails ----*/
.developper, .reduire {
    display: none;
}

a.collapsed .developper, a:not(.collapsed) .reduire {
    display: inline-block;
}
.contenu-extensible .icone-svg{
    margin-left: 8px;
}

.contenu-extensible a.collapsed .developper .icone-svg {
    transform: rotate(-180deg);
}

/*====================================================================================================*/
/*  -90- Divers
/*====================================================================================================*/
/*---- Zone HTML (zone contenant du HTML saisi par les pilotes) ----*/

.zone-html ul, .page-texte ul {
    padding-left: 20px;
}

.zone-html ul li, .page-texte ul li {
    margin-bottom: 16px;
}

.zone-html ul li:last-of-type {
    margin-bottom: 0;
}

.zone-html h2 + ul, .zone-html h3 + ul, .zone-html h4 + ul { 
    margin-top: 16px;
}

.zone-html.extensible {
    margin-top: 16px;
}


/*Style particuliers pour les pages de textes, les réponses de la faq et les messages généraux */

.page-texte a, .faq .reponse a, .message .zone-html .texte a{
    color: var(--couleur-liens);
    text-decoration: underline;
}

.page-texte a:hover, .page-texte a:focus,
.faq .reponse a:hover, .faq .reponse a:focus,
.message .zone-html .texte a:hover, .message .zone-html .texte a:focus {
    text-decoration: none;
    color: #3374cc;
}

.page-texte h2, .page-texte h3, .page-texte h4, .page-texte h5, .page-texte h6{
    display: block;
    margin-top: 40px;
}

.page-texte h2 {
    font-family: Roboto-Bold;
}

.page-texte p {
    margin-bottom: 24px;
}

.page-texte ul {
    margin-bottom: 32px;
}


/*---- Liste sans style ----*/
.liste-sans-style {
    padding: 0;
    margin: 0;
}

.liste-sans-style > li {
    list-style-type: none;
}


/*---- Affiché comme lien ----*/
.comme-lien {
    color: var(--couleur-liens);
    display: inline-block;
}

.comme-lien:hover {
    text-decoration: underline;
}


/* Table des matières */
.table-matieres {
    border-top: 1px solid var(--couleur-filet-secondaire); /*#c5cad2*/
    border-bottom: 1px solid var(--couleur-filet-secondaire);
    padding: 2rem 1rem;
    background-color: var(--couleur-fond-gris); /*#f2f1f1*/
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.table-matieres p {
    margin: 0;
    font-weight: bold;
}

.table-matieres ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.table-matieres ul li {
    line-height: 1.5;
    margin: 1rem 0 0 0;
}

.table-matieres a {
    text-decoration: none;
}

.table-matieres a:hover, .table-matieres a:focus {
    text-decoration: underline;
}

/*TODO vérifier si info-non-disponible commun ou non */
.info-non-disponible {
    background-color: #fff;
    width: 100%;
    padding: 16px 0;
}

.info-non-disponible .texte {
    margin-top: 8px;
}


.libelle-groupe-radio {
    display: block;
    font-weight: 600;
}

/*====================================================================================================*/
/*  -92- CARDS 
/*
/*  Sections de base (Entête fond bleu foncé, texte blanc, bordure bleue foncée et fond contenu gris pâle)
/*====================================================================================================*/
.card.section-base {
    border-radius: 0;
    margin-bottom: var(--tc-48-40-val);
    border: 0;
}

    .card.section-base .card-title, .card.section-secondaire .card-title, .card.tertiaire .card-title {
        padding: 8px 16px;
    }

    .card.section-base .card-title {
        background-color: var(--couleur-entete-carte-primaire);
        color: #fff;
        font-family: "Roboto-Medium";
        font-size: 20px;
    }

    .card.section-base .card-body {
        background-color: #fff;
        border-left: 1px solid var(--couleur-filet-secondaire);
        border-right: 1px solid var(--couleur-filet-secondaire);
        border-bottom: 1px solid var(--couleur-filet-secondaire);
    }


.card.section-secondaire .card-title {
    background-color: #e0e0e0;
    color: inherit;
}

.card.section-secondaire .card-body {
    background-color: #fff;
}

.card.tertiaire {
    border: 0;
}

    .card.tertiaire .card-title {
        background-color: var(--couleur-fond-gris);
        color: inherit;
    }

    .card.tertiaire .card-body {
        background-color: var(--couleur-fond-gris);
    }



/* Section extensibles */
.card .card-title a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}


/*====================================================================================================*/
/*  -98- Affichage mobile (téléphone portrait)
/*====================================================================================================*/
@media (max-width: 425px) {
    .container {
        max-width: 100%;
        padding-right: 8px;
        padding-left: 8px;
    }

    h1 img {
        max-height: 35px;
        margin-right: 0;
    }

    .row {
        margin-right: -8px;
        margin-left: -8px;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 8px;
        padding-left: 8px;
    }
}


/*====================================================================================================*/
/*  -99- À Positionner
/*====================================================================================================*/

html {
    overflow-x: hidden;
}


/*** Cookie policy ***********/
button .accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

fieldset.avec-bordure {
    border: 1px solid lightgray;
    padding: 16px;
    margin-bottom: 32px;
}

    fieldset.avec-bordure legend {
        width: auto;
        padding: 0 5px;
        font-size: 1.1rem;
    }

iframe.autoheight {
    width: 100%;
}

/* Summernote - cacher le libellé non traduit pour l'utilisation du protocole par défaut dans la fenêtre modale de configuration d'un lien */
.note-modal .sn-checkbox-use-protocol {
    display: none;
}

.message-fermeture {
    margin-bottom: 40px;
}

.libelle {
    font-weight: 700;
}

/* Classe pour les textes édités... À utiliser par les pilotes. */
.texte-sbold {
    font-family: OpenSans-SemiBold;
}

.texte-bold {
    font-family: OpenSans-Bold;
}


.aucun-element {
    outline: none;
    margin-top: 16px;
}


ul li:last-child {
    padding-bottom: 0
}