<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Ajouter les services nécessaires -->
  </configSections>

  <appSettings>
    <add key="CheminRepertoireConfiguration" value="__Repertoires:ConfigurationTest__"/>
    <add key="CheminRepertoireBinding" value="__Repertoires:BindingTest__"/>
  </appSettings>
  
</configuration>