/*====================================================================================================*/
/*  -Z10- Radio button
/* ---------------------------------------------------------------------------------------------------*/
/*  -Z90- Ajustements pour règles SCG - À modifier dans fichier concerné
/*====================================================================================================*/

/*====================================================================================================*/
/*  -Z10- Radio button
/*====================================================================================================*/

/* --------------- Radios ET checkbox (Commun) --------------- */

.formulate-input[data-classification=box] .formulate-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.formulate-input[data-classification=box] .formulate-input-element {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.formulate-input[data-classification=box] .formulate-input-element-decorator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border-radius: .25em;
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios */
    border: 1px solid #808a9d;
    position: relative;
}

.formulate-input[data-classification=box] .formulate-input-element-decorator:before {
    content: "";
    display: block;
    background-size: cover ;
    background-position: 100%;
    box-sizing: border-box;
    position: absolute;
}


/* Radio disabled */
.formulate-input[data-classification=box] .formulate-input-element input:disabled ~ .formulate-input-element-decorator {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios... Outline ne fonctionne pas... trouver un moyen plus tard. */
    border: 1px solid #bfc4ce;
}

/* Focus checkbox et radios */
.formulate-input[data-classification=box] .formulate-input-element input:focus ~ .formulate-input-element-decorator {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios... Outline ne fonctionne pas... trouver un moyen plus tard. */
    border: 2px solid #5b6476;
    /*outline: 2px solid #89BCE5;*/
}

/* Le vrai input est hors écran (radios et checkbox) */
.formulate-input[data-classification=box] .formulate-input-element input {
    position: absolute;
    left: -999px;
    opacity: 0;
    pointer-events: none;
}

/* Labels radios et checkbox */
.formulate-input[data-classification=box] label.formulate-input-label {
    margin-bottom: 0;
    margin-left: 8px;
    font-family: 'OpenSans-Regular';
}


/* --------------- Radio buttons --------------- */

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator {
    border-radius: 1em;
}

.formulate-input[data-classification=box] .formulate-input-element input[type=radio]:checked ~ .formulate-input-element-decorator:before {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios */
    background-color: #1479cc;
}

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator:before {
    border-radius: 1em;
    width: 10px;
    height: 10px;
}


/* Checkbox */
.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox] ~ .formulate-input-element-decorator {
    border-radius: 0;
}

.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox] ~ .formulate-input-element-decorator:before {
    /* TODO obtenir la vraie image de crochet ici afin de respecter parfaitement les normes du SCG... Ça prend un oeil de lynx pour le voir cela dit...*/
    height: 12px;
    width: 12px;
}

.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox]:checked ~ .formulate-input-element-decorator {
    border-color: #808a9d;
    background-color: #1479cc;
}


.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox]:checked ~ .formulate-input-element-decorator:before {
    background-color: #fff;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>')
}

/*====================================================================================================*/
/*  -Z90- Ajustements pour règles SCG - À modifier dans fichier concerné
/*====================================================================================================*/

.icone-champ-requis {
    font-size: 1rem;
    vertical-align: top;
    font-family: OpenSans-Bold;
}


input.form-input:focus {
    border: 3px solid #89bce5
}





/*====================================================================================================*/
/*  -Z91- Ajustements pour règles SCG - Désaccord / Questionnements
/*====================================================================================================*/
/*
form .input-validation-error, form .input-validation-error + .note-editor {
    border-color: var(--couleur-erreur);
    border-width: 2px; /* Ici devrait être 3px!  TROP GROS! 
}*/



/* --------------- Messages d'erreurs sur champs --------------- */
/* Selon normes, 16px BOLD. */
/* Il me semble que bold c'est TRÈS exagéré... */
/* Réduire à 14px? */
/* Ajouter marge supérieur afin d'espacer d'avec le champ au dessus ?  Selon norme à l'oeil il y en a une mais de combien? Semble plus que 4px. */
form .field-validation-error {
     margin-top: 8px;
}