/*====================================================================================================*/
/*  -Z01- Base contrôles
/* ---------------------------------------------------------------------------------------------------*/
/*  -Z10- Radio button et checkbox
/* ---------------------------------------------------------------------------------------------------*/
/*  -Z20A- Forms (Champs textes largeurs)
/* ---------------------------------------------------------------------------------------------------*/
/*  -Z90- Ajustements pour règles SCG - À modifier dans fichier concerné
/*====================================================================================================*/


/*====================================================================================================*/
/*  -Z01- Base contrôles
/*====================================================================================================*/

/* Reproduire tout ce qui est dans form-control */
.formulate-input[data-classification=text] input, .formulate-input[data-classification=textArea] textarea,
.formulate-input[data-classification=select] select {
    border: 1px solid #858b93;
}


/* Reproduire tout ce qui est dans form-group */
.formulate-input[data-classification=text], .formulate-input[data-classification=textArea],
.formulate-input[data-classification=select], .formulate-input[data-classification=group] {
    margin-bottom: 32px; /* On applique le même style que la classe form-group de BS */
}

.form-control, .select2-container--bootstrap4 .select2-selection {
    border: 1px solid #858b93;
}

/*====================================================================================================*/
/*  -Z10- Radio button et checkbox
/*====================================================================================================*/

/* --------------- Radios ET checkbox (Commun) --------------- */

.formulate-input[data-classification=box] .formulate-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.formulate-input[data-classification=box] .formulate-input-element {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.formulate-input[data-classification=box] .formulate-input-element-decorator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: .25em;
    position: relative;
}

.formulate-input[data-classification=box] .formulate-input-element input:focus ~ .formulate-input-element-decorator {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios */
    border: 2px solid #89bce5;
}


.formulate-input[data-classification=box] .formulate-input-element-decorator:before {
    content: "";
    display: block;
    background-size: cover ;
    background-position: 100%;
    box-sizing: border-box;
    position: absolute;
}

.formulate-input[data-classification=box] .formulate-input-element-decorator:after {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #808a9d;
}


/* Radio et checkbox disabled */
.formulate-input[data-classification=box] .formulate-input-element input:disabled ~ .formulate-input-element-decorator:after {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios...  */
    border: 1px solid #bfc4ce;
}

/* Focus checkbox et radios */
.formulate-input[data-classification=box] .formulate-input-element input:focus ~ .formulate-input-element-decorator:after {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios... */
    border: 2px solid #5b6476;
}

/* Le vrai input est hors écran (radios et checkbox) */
.formulate-input[data-classification=box] .formulate-input-element input {
    position: absolute;
    left: -999px;
    opacity: 0;
    pointer-events: none;
}

/* Labels radios et checkbox */
.formulate-input[data-classification=box] label.formulate-input-label {
    margin-bottom: 0;
    margin-left: 8px;
    font-family: 'OpenSans-Regular';
}


/* --------------- Radio buttons --------------- */

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator {
    border-radius: 1em;
}

.formulate-input[data-classification=box] .formulate-input-element input[type=radio]:checked ~ .formulate-input-element-decorator:before {
    /* TODO Ajouter variable dans ECS pour cette couleur et appliquer checkbox et radios */
    background-color: #1479cc;
}

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator:before {
    border-radius: 1em;
    width: 10px;
    height: 10px;
}

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator:after {
    border-radius: 1em;
}


/* Checkbox */
.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox] ~ .formulate-input-element-decorator {
    border-radius: 0;
}

.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox] ~ .formulate-input-element-decorator:before {
    /* TODO obtenir la vraie image de crochet ici afin de respecter parfaitement les normes du SCG... Ça prend un oeil de lynx pour le voir cela dit...*/
    height: 12px;
    width: 12px;
}

.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox]:checked ~ .formulate-input-element-decorator:after {
    background-color: #1479cc;
}


.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox]:checked ~ .formulate-input-element-decorator:before {
    background-color: #fff;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>')
}


/*====================================================================================================*/
/*  -Z20A- Forms (Champs textes largeurs)
/*====================================================================================================*/

/*Le xxl n'existe pas dans les règles du SCG, c'est ajouté */
input[type="text"].form-control.xxl {
    max-width: 728px;
}

input[type="text"].form-control.xl {
    max-width: 528px;
}

input[type="text"].form-control.lg {
    max-width: 249px;
}

input[type="text"].form-control.md, input[type="number"].form-control.md {
    max-width: 156px;
}

input[type="text"].form-control.sm, input[type="number"].form-control.sm {
    max-width: 63px;
}


.col-auto input[type="text"].form-control.xxl {
    width: 728px;
}

.col-auto input[type="text"].form-control.xl {
    width: 528px;
}

.col-auto input[type="text"].form-control.lg {
    width: 249px;
}

.col-auto input[type="text"].form-control.md, .col-auto input[type="number"].form-control.md {
    width: 156px;
}

.col-auto input[type="text"].form-control.sm, .col-auto input[type="number"].form-control.sm {
    width: 63px;
}

@media (max-width: 560px) {

    .col-auto input[type="text"].form-control.xl {
        max-width: 100%;
    }
}

@media (max-width: 760px) {

    .col-auto input[type="text"].form-control.xxl {
        max-width: 100%;
    }
}

/*====================================================================================================*/
/*  -Z90- Ajustements pour règles SCG - À modifier dans fichier concerné
/*====================================================================================================*/


.form-control {
    height: 40px;
}


.icone-champ-requis {
    font-size: 1rem;
    vertical-align: top;
    font-family: OpenSans-Bold;
}


input.form-control:focus, select.form-control:focus {
    outline: 3px solid #89bce5;
    border: 2px solid #5b6476;
}


/*====================================================================================================*/
/*  -Z91- Ajustements pour règles SCG - Désaccord / Questionnements
/*====================================================================================================*/
/*
form .input-validation-error, form .input-validation-error + .note-editor {
    border-color: var(--couleur-erreur);
    border-width: 2px; /* Ici devrait être 3px!  TROP GROS! 
}*/



/* --------------- Messages d'erreurs sur champs --------------- */
/* Selon normes, 16px BOLD. */
/* Il me semble que bold c'est TRÈS exagéré... */
/* Réduire à 14px? */
/* Ajouter marge supérieur afin d'espacer d'avec le champ au dessus ?  Selon norme à l'oeil il y en a une mais de combien? Semble plus que 4px. */
form .field-validation-error {
     margin-top: 8px;
}