@page
@model IndexModel
@{
    ViewData["Title"] = "ECSForm";
}

<h2>Choisir un formulaire</h2>
<ul>
    <li><a href="~/Form/3003CC">3003CC</a></li>
</ul>

<h2>Bac-à-sable</h2>
<ul>
    <li><a href="https://infologique.net/form/bac-a-sable/?file=3003cc">Éditeur</a></li>
</ul>

